/***
Spacing

xs : 0 - 575
sm:576- 767
md:768 - 991
lg: 992 - 1199
xl:1200 - 1359

mt : margin-top
ml: margin-left
mr: margin-right
mb: margin-bottom

*/.mb-10{margin-bottom:10px}.mt-15{margin-top:15px}.mb-15{margin-bottom:15px}.mt-20{margin-top:20px}.mb-20{margin-bottom:20px}.ml-20{margin-left:20px}.mb-25{margin-bottom:25px}.mt-30{margin-top:30px}.mb-30{margin-bottom:30px}.mt-40{margin-top:40px}.mb-40{margin-bottom:40px}.mb-50{margin-bottom:50px}.pb-50{padding-bottom:50px}.pt-75{padding-top:75px}.pb-75{padding-bottom:75px}.mt-80{margin-top:80px}.pt-80{padding-top:80px}.pb-80{padding-bottom:80px}.pb-90{padding-bottom:90px}.pt-120{padding-top:120px}@media (min-width:576px) and (max-width:767px){.mb-sm-10{margin-bottom:10px}.mb-sm-15{margin-bottom:15px}.mt-sm-25{margin-top:25px}.mb-sm-25{margin-bottom:25px}.mt-sm-30{margin-top:30px}.mb-sm-35{margin-bottom:35px}}@media (min-width:768px) and (max-width:991px){.mt-md-35{margin-top:35px}}@media (max-width:575px){.mb-xs-5{margin-bottom:5px}.mb-xs-10{margin-bottom:10px}.mb-xs-20{margin-bottom:20px}.mt-xs-25{margin-top:25px}.mb-xs-25{margin-bottom:25px}.mb-xs-30{margin-bottom:30px}.pt-xs-30{padding-top:30px}.pb-xs-60{padding-bottom:60px}}